<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Módulo Equipe - App Suport</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../css/materialize.min.css" type="text/css" rel="stylesheet" />
        <link href="../css/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>        
        <nav class="green lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">Equipe</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="home-modules.html">Home</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">                    
                    <li><a href="home-modules.html">Home</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
        
        
        
        <div class="container">
            <div class="section">
                <div class="row icon-block">
                    <a href="#">
                        <div class="col s12 m4">
                            <div class="light-blue card">
                                <div class="card-content">
                                    <h2 class="center white-text">
                                        <i class="material-icons">library_add</i>
                                    </h2>
                                    <h5 class="center white-text">Cadastro de Departamentos</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col s12 m4">
                            <div class="red card">
                                <div class="card-content">
                                    <h2 class="center white-text">
                                        <i class="material-icons">group_add</i>
                                    </h2>
                                    <h5 class="center white-text">Cadastro de Funcionários</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="equipe.html">
                        <div class="col s12 m4">
                            <div class="light-green card">
                                <div class="card-content">
                                    <h2 class="center white-text">
                                        <i class="material-icons">note_add</i>
                                    </h2>
                                    <h5 class="center white-text">Cadastro de Tipo de Ocorrência</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../js/materialize.js"></script>
        <script src="../js/init.js"></script>
    </body>
</html>
