.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.login {
    position: absolute;    
    width: 320px;
    left:50%;   
    top:50%;    
    margin: auto;
    margin-left: -160px;    
    margin-top: -250px;
}

#fundo-login{
    background-image: url(../img/back_login.jpg);
}

.box-module{
    width: 200px;
    border-radius: 6px;
}